<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>  
  <appSettings>
<!--<add key="ReportPath" value="E:/Publishes/SoftTA-TasleefBank/Publish/Views/ReportsAndDataSource/" />-->
    <add key="ReportPath" value="F:/TasleefBankReportModification/Social Development Bank/ATAS_TasleefBank/ATAS_bank/ATAS_TasleefBank/Views/ReportsAndDataSource/" />
    <add key="LevelsIds" value="6,81,7,162,78,8,12,123,160,787,76,11,10,13,14,194,5,88,166,89,788,79,19,22,732,20,107,96,18,120,21,137,15,17,184,729,132,127,728,135,181" />
  </appSettings>
  <connectionStrings>
    <!--<add name="ATASSqlCon" connectionString="data source=10.10.6.11\SQL2012;initial catalog=ATASmvc_Default;user id=sa;password=P@ssw0rd@admin;MultipleActiveResultSets=True;"/>-->
    <add name="ATASSqlCon" connectionString="Data Source=.;Initial Catalog=ATASmvc_Default;Integrated Security=True;" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5.1">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.ProcessingObjectModel, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  <system.webServer>
    <!--<security>
      <requestFiltering>
        <requestLimits maxQueryString="3976800000"/>
      </requestFiltering>
    </security>-->
    <!--Report Viewer Config.-->
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
        <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>